.BadgeDetails__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}
.container.main-container {
  padding: 3rem 1rem;
}
.BadgeDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BadgeDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.logo-conference {
    max-width: 200px;
}
@media (max-width: 576px) {
  .container.main-container > .row {
    flex-direction: column-reverse;
  }
  .container.main-container > .row .col.col-3 {
    padding-bottom: 4%;
  }
  .jm-center, .jm-center h1 {
    display: flex;
    justify-content: center;
  }
  .logo-conference {
    margin-bottom: 20px;
  }
  .jm-txt-center {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .logo-conference {
    max-width: 100px;
  }
  .jm-center h1 {
    font-size: 30px;
  }
}